@tailwind base;
@tailwind components;
@tailwind utilities;

svg:hover {
    fill: #94a3b8;
}

@keyframes move-eye-skew {
  0% {
    transform: none;
  }
  5% {
    transform: translateX(-66px) translateY(-33px) skewX(5deg) skewY(-10deg) scale(0.95);
  }
  15%, 20% {
    transform: translateX(-66px) translateY(33px) skewX(15deg) skewY(-10deg) scale(0.95);
  }
  25%, 42% {
    transform: none;
  }
  50%, 66% {
    transform: translateX(66px) translateY(-33px) skewX(5deg) skewY(2deg) scaleX(0.95);
  }
  66%, 80% {
    transform: translateX(66px) translateY(33px) skewX(-15deg) skewY(10deg) scale(0.95);
  }
  80%, 100% {
    transform: none;
  }
}

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
}
.ball:after {
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
  transform: translateX(-80px) translateY(-90px) skewX(-20deg);
}

.iris {
  width: 40%;
  height: 40%;
  margin: 30%;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(253,228,255,1) 0%, rgba(255,164,254,1) 33%, rgb(110, 228, 255) 100%);
  transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  position: absolute;
  animation: move-eye-skew 5s ease-out infinite;
}
.iris:before {
  content: "";
  display: block;
  position: absolute;
  width: 37.5%;
  height: 37.5%;
  border-radius: 50%;
  top: 31.25%;
  left: 31.25%;
  background: black;
}
.iris:after {
  content: "";
  display: block;
  position: absolute;
  width: 31.25%;
  height: 31.25%;
  border-radius: 50%;
  top: 18.75%;
  left: 18.75%;
  background: rgba(255, 255, 255, 0.2);
}

.ball .shadow {
position: absolute;
width: 100%;
height: 100%;
background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}
.stage {
  width: '100%';
  height: '100%';
  display: flex;
  margin: 20px;
  perspective: 1200px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateY(0.01deg);
  align-self: center;
}
body {
  font-family: 'Cairo Play';
}
  

