@tailwind base;
@tailwind components;
@tailwind utilities;

svg:hover {
    fill: #94a3b8;
}

.iris {
  background: radial-gradient(circle, rgba(253,228,255,1) 0%, rgba(255,164,254,1) 33%, rgb(110, 228, 255) 100%);
}

.ball {
  background: radial-gradient(circle at 50% 40%, #fcfcfc, #efeff1 66%, #9b5050 100%);
}


body {
  font-family: 'Cairo Play';
}
  

